@font-face {
    font-family: roboto;
    src: url(./fuentes_letra/roboto-regular.ttf);
}

@font-face {
    font-family: varela;
    src: url(./fuentes_letra/varela-round-regular.ttf);
}

:root {
    font-size: 16px;
    font-family: varela, roboto, Arial, Helvetica, sans-serif;
    --green-50: #E8F5E9;
    --green-100: #C8E6C9;
    --green-200: #A5D6A7;
    --green-300: #81C784;
    --green-400: #66BB6A;
    --green-500: #4CAF50;
    --green-600: #43A047;
    --green-700: #388E3C;
    --green-800: #2E7D32;
    --green-900: #1B5E20;
    --green-A100: #B9F6CA;
    --green-A200: #69F0AE;
    --green-A400: #00E676;
    --green-A700: #00C853;
    --grey-50: #FAFAFA;
    --grey-100: #F5F5F5;
    --grey-200: #EEEEEE;
    --grey-300: #E0E0E0;
    --grey-400: #BDBDBD;
    --grey-500: #9E9E9E;
    --grey-600: #757575;
    --grey-700: #616161;
    --grey-800: #424242;
    --grey-900: #212121;
    --red-200: #EF9A9A;
    --red-400: #EF5350;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

input, textarea, button {
    outline: none !important;
}

header {
    text-align: center; 
    display: flex;
    flex-direction: column;
}

.contenedor-header {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-todo-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCruzVerde {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.cruz_verde {
    cursor: pointer;
}

.titulo-farmaciarcas {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-farmaciarcas > span:last-child {
    font-weight: bolder;
    color: var(--green-600);
}

.contenedor-decoracion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.curvas {
    transform: rotate(7deg);
}

.contenedor-hojas {
    z-index: 99;
}

.contenedor-todo-cerrar-sesion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.titulo-nombre-usuario-sesion-header {
    font-weight: bolder;
    text-transform: uppercase;
}

.buttonCerrarSesion {
    font-family: varela, roboto, Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.buttonCerrarSesion > span {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
}


nav {
    background-color: var(--green-100);
}

main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1px;
    display: flex;
}

.contenedor-menu-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.gestionar-clientes, 
.gestionar-productos, 
.gestionar-medicamentos, 
.gestionar-pedidos {
    background-color: var(--green-900);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    letter-spacing: 0.08rem;
    padding: 1rem 0;
    cursor: pointer;
}

.gestionar-productos, 
.gestionar-medicamentos, 
.gestionar-pedidos,
.contenedor-desplegable,
.desplegable-listado-pedidos {
    margin-top: 0.08rem;
}

.contenedor-desplegable > ul > li:first-child > a,
.contenedor-desplegable-pedidos > ul > li:first-child > div {
    border-bottom: solid 0.5px var(--green-900);
}

.listado-pedidos > ul > li:first-child {
    border-bottom: solid 1px var(--grey-600);
}

.contenedor-desplegable {
    width: 100%;
    font-weight: bolder;
}

.contenedor-desplegable > ul,
.listado-pedidos > ul {
    width: 100%;
    text-align: center;
    list-style: none;
}

.contenedor-desplegable > ul > li,
.listado-pedidos > ul > li {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.contenedor-desplegable > ul > li {
    background-color: var(--green-600);
}

.listado-pedidos > ul > li {
    background-color: var(--grey-400);
}

.desplegable-listado-pedidos {
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 0;
}

.contenedor-desplegable > ul > li > a,
.listado-pedidos > ul > li > a {
    width: 100%;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 0;
}

.listado-pedidos > ul > li:first-child {
    margin-top: 0.08rem;
}

.listado-pedidos > ul > li:last-child {
    margin-bottom: 0.08rem;
}

.listado-pedidos > ul > li > a {
    color: black;
}


section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../imagenes/aleatorio_opacidad.png) no-repeat;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.formularioOlvidoClave > form,
.contenedor-todo-control-acceso {
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
    border-radius: 1rem;
}

.formularioOlvidoClave > form,
.formulario-control-acceso {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--green-200);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-transform: uppercase;
}

.formulario-control-acceso > div:not(.contenedor-errores-login) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-basis: auto;
}

.formularioOlvidoClave > form > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.formularioOlvidoClave > form > div:nth-child(2) > div {
    display: flex;
}

.formulario-control-acceso > div > div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formularioOlvidoClave > form > div:first-child,
.formulario-control-acceso > div:first-child > div:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--green-900);
    color: white;
}

.formulario-control-acceso > div:first-child > div:not(:first-child) > div {
    display: flex;
}

.formularioOlvidoClave > form > div:nth-child(2) > div > div,
.formulario-control-acceso > div:first-child > div:not(:first-child) > div > div {
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}

.formularioOlvidoClave > form > div:nth-child(2) > div > div > img,
.formulario-control-acceso > div:first-child > div:not(:first-child) > div > div > img {
    width: 1.5rem;
}

.formularioOlvidoClave > form > div > label,
.formulario-control-acceso > div:first-child > div > label {
    text-align: start;
    font-weight: bolder;
    color: var(--green-900);
}

.formularioOlvidoClave > form > div:nth-child(2) {
    padding: 3rem 1rem;
}

.formularioOlvidoClave > form > div:nth-child(2) > div > input,
.formulario-control-acceso > div:first-child > div > div > input {
    border: none;
    font-size: 1rem;
    padding: 0.2rem;
    width: 100%;
    color: var(--green-600);
} 

.formulario-control-acceso > div:first-child > div > div > input::placeholder {
    color: var(--grey-400);
    letter-spacing: normal;
    font-weight: normal;
}

.contenedor-clave-olvidada {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contenedor-clave-olvidada > div { 
    text-align: start;
    display: block;
    align-self: auto;
}

.contenedor-clave-olvidada > div > a { 
    width: fit-content;
    color: darkblue;
    font-weight: bolder;
    text-transform: none;
    text-decoration: none;
}

.contenedor-clave-olvidada > div > a:hover {
    text-decoration: underline;
}

.contenedor-clave-olvidada > div > a:active {
    color: chocolate;
}

.contenedor-errores-login {
    text-transform: none;
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.contenedor-errores-login > ul {
    color: red;
    padding-left: 2rem;
}

.error {
    color: red;
    text-align: start;
}

.formularioOlvidoClave > form > div:last-child,
.formulario-control-acceso > div:last-child {
    width: fit-content;
    height: fit-content;
}

.formularioOlvidoClave > form > div:last-child {
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--green-900);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.formularioOlvidoClave > form > div:last-child > input,
.formulario-control-acceso > div:last-child > input {
    text-transform: uppercase;
    border-radius: 0.5rem;
    background-color: chocolate;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
}

.formularioOlvidoClave > form > div:last-child > input {
    margin: 1rem;
}

.form-boton-nuevo-usuario {
    background-color: var(--green-900);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.form-boton-nuevo-usuario > input {
    background-color: var(--grey-300);
    color: black;
    border: none;
    border-radius: 0.5rem;
    display: block;
    align-self: auto;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}

input {
    font-family: varela, roboto, Arial, Helvetica, sans-serif;
}

input::placeholder,
textarea::placeholder {
    font-family: varela, roboto, Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
}

footer + div:not(.sweet-overlay) {
    visibility: hidden;
}
