@media screen and (min-width: 577px) and (max-width: 768px) {
    .contenedor-header {
        position: relative;
    }

    .formCruzVerde {
        margin-right: 0.2rem;
    }

    .cruz_verde {
        width: 3rem;
    }

    .titulo-farmaciarcas {
        font-size: 2rem;
        letter-spacing: 0.01rem;
    }

    .contenedor-triangulo-cambiar-clave {
        margin-right: 0.5rem;
        cursor: pointer;
        background-color: var(--green-600);
        border-radius: 0.2rem;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
    }

    .contenedor-triangulo-cambiar-clave > div {
        width: 0; 
        height: 0; 
        border-left: 0.5rem solid transparent;
        border-top: 0.75rem solid white;
        border-right: 0.5rem solid transparent; 
    }

    .contenedor-formulario-cambiar-clave {
        width: 50%;
        border-radius: 0 0 1rem 1rem;
        background-color: black;
        position: absolute;
        top: 100%;
        right: 12%;
        z-index: 99;
    }

    .formularioCambiarClave {
        padding: 0.5rem;
        padding-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .desplegable-cambiar-clave {
        cursor: pointer;
        font-size: 1.2rem;
        padding: 1.2rem 0;
        font-weight: bolder;
        background-color: chocolate;
        border-radius: 0 0 0.7rem 0.7rem;
    }

    .contenedor-formCambClave > form {
        margin-top: 0.5rem;
        background-color: var(--green-50);
        border-radius: 0 0 0.7rem 0.7rem;
        width: 100%;
    }

    .contenedor-formCambClave > form > div {
        display: flex;
        flex-direction: column;
        padding: 0.3rem;
    }

    .contenedor-formCambClave > form > div > label {
        text-align: left;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bolder;
        color: var(--green-900);
    }

    .contenedor-formCambClave > form > div > input[type=password] {
        border: solid 1px var(--green-900);
        width: 100%;
        color: var(--green-900);
        font-size: 0.8rem;
        padding: 0.1rem;
    }

    .contenedor-formCambClave > form > div > input[type=password]::placeholder {
        color: var(--grey-400);
        letter-spacing: normal;
        font-weight: normal;
    }

    .contenedor-formCambClave > form > div > input[type=submit] {
        border: none;
        background-color: var(--green-900);
        color: white;
        font-size: 1rem;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        font-weight: bolder;
        cursor: pointer;
    }

    .curvas {
        width: 4.6rem;
    }

    .contenedor-hojas {
        margin-left: -0.4rem;
    }

    .hojas {
        width: 2.2rem;
    }

    .contenedor-todo-cerrar-sesion {
        font-size: 1.5rem;
    }

    .contenedor-todo-cerrar-sesion > div:first-child {
        height: 100%;
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo-nombre-usuario-sesion-header {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        order: 2;
    }

    .contenedor-todo-cerrar-sesion > div:last-child {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icono-usuario {
        width: 2.5rem;
        order: 3;
    }

    .form-logout {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .buttonCerrarSesion {
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }

    .buttonCerrarSesion > img {
        width: 2.5rem;
    }

    .logout-blanco {
        display: none;
    }

    .logout-verde {
        display: block;
    }

    .buttonCerrarSesion > span {
        display: none;
    }

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    section {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 1px;
    }

    nav {
        width: 100%;
    }

    .gestionar-clientes, 
    .gestionar-productos, 
    .gestionar-medicamentos, 
    .gestionar-pedidos {
        font-size: 1.2rem;
        padding: 1.25rem 0;
    }

    .gestionar-pedidos {
        border-radius: 0 0 0 1.5rem;
    }

    .li-nuevo-pedido {
        border-radius: 0 0 0 1.5rem;
    }

    .contenedor-desplegable > ul > li > a, 
    .desplegable-listado-pedidos,
    .listado-pedidos > ul > li > a {
        font-size: 1.2rem;
    }

    .boton-hamburguesa-verde {
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--green-900);
        width: 4rem;
        height: 4rem;
        padding: 0.7rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-bottom-left-radius: 1rem;
        z-index: 99;
    }

    .boton-hamburguesa-blanco {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        padding: 0.7rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-bottom-left-radius: 1rem;
        z-index: 100;
    }

    .conjunto-lineas-hamburguesa {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .linea-hamburguesa-blanca {
        border: solid 2px white;
        width: 100%;
        border-radius: 2rem;
    }

    .linea-hamburguesa-verde {
        border: solid 2px var(--green-900);
        width: 100%;
        border-radius: 2rem;
    }

    .contenedor-menu-nav {
        display: none;
    }

    .contenedor-menu-nav-movil{
        position: absolute;
        background-color: var(--green-100);
        top: 0;
        right: 0;
        width: 70%;
        display: flex;
        flex-direction: column;
        list-style: none;
        border-radius: 0 0 0 2rem;
        z-index: 99;

    }

    .contenedor-todo-control-acceso {
        width: 80%;
    }

    .formulario-control-acceso {
        font-size: 0.9rem;
    }

    .formulario-control-acceso > div:first-child > div:first-child {
        padding: 1rem 0;
    }

    .formularioOlvidoClave > form > div:first-child {
        padding: 1rem 2rem;
    }

    .formulario-control-acceso > div:first-child > div:first-child > h1 {
        letter-spacing: 0.02rem;
        font-size: 1.8rem;
    }

    .formulario-control-acceso > div:first-child > div {
        padding: 0.5rem 1rem;
    }

    .formulario-control-acceso > div:first-child > div > label {
        font-size: 1.5rem;
    }

    .formulario-control-acceso > div:first-child > div > div {
        margin-top: 0.5rem;
    }

    .formulario-control-acceso > div:first-child > div:not(:first-child) > div > div {
        padding: 0.5rem;
    }

    .formulario-control-acceso > div:first-child > div:not(:first-child) > div > div > img {
        width: 1.5rem;
    }

    .formulario-control-acceso > div:first-child > div > div > input {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        padding-left: 1rem;
        font-weight: bolder;
    }

    .formulario-control-acceso > div:first-child > div > div > input::placeholder {
        font-size: 1.2rem;
        letter-spacing: normal;
        font-weight: normal;
    }

    .contenedor-clave-olvidada {
        padding: 1rem;
    }

    .contenedor-clave-olvidada > div > a{
        font-size: 1.2rem;
    }

    .formulario-control-acceso > div:last-child {
        margin: 0 1rem 1rem 0;    
    }

    .formularioOlvidoClave > form > div:last-child > input,
    .formulario-control-acceso > div:last-child > input {
        width: auto;
        font-size: 1rem;
        padding: 0.6rem 2rem;
    }

    .formularioOlvidoClave > form > div:last-child > input {
        padding: 0.75rem 1.5rem;
    }

    .form-boton-nuevo-usuario {
        padding: 0.8rem 1.2rem;
    }

    .form-boton-nuevo-usuario > input {
        padding: 0.5rem 0.75rem;
        font-size: 0.8rem;
    }

    .error {
        font-size: 0.85rem;
    }

    footer {
        font-size: 1rem;
        padding: 0.5rem 0;
        letter-spacing: 0.02rem;
    }

    .listado {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 0.2rem;
        flex-basis: 1px;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .contenedor-listado-pedidos,
    .contenedor-graficas-pedidos,
    .contenedor-nuevo-pedido {
        width: 100%;
        margin-bottom: 2rem;
    }

    .contenedor-listado-pedidos > div, 
    .contenedor-graficas-pedidos > div,
    .contenedor-nuevo-pedido > div {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .envoltura-titulo-listado {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .envoltura-titulo-listado > div:first-child {
        width: 70%;
        align-self: flex-start;
        display: flex;
        border-radius: 0 0 1rem 1rem;
        border: solid 3px black;
        border-top: none;
        display: flex;
        justify-content: center;
        margin-left: 2.5rem;
        padding: 1.1rem 1rem;
        background-color: var(--grey-400);
    }

    .titulo-listado {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        text-decoration: underline;
        color: var(--green-800);
        margin-bottom: -0.3rem;
    }

    .titulo-listado.tituloListadoSmMdLg {
        font-size: 1.7rem;
        color: black;
    }

    .envoltura-titulo-listado > div:last-child {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1rem 0 0.5rem 0;
    }

    .generarPDF.sm {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .generarPDF.sm > img {
        width: 3rem;
    }

    .envoltura-titulo-listado > div:last-child > div:last-child {
        padding: 0.25rem 0;
        width: 80%;
    }

    .buscador {
        border: solid 4px var(--green-600);
        font-weight: bolder;
        border-radius: 1.5rem;
        width: 100%;
        padding: 0.1rem 0.1rem 0.1rem 1rem;
        color: var(--green-900);
        text-align: left;
        font-size: 1rem;
    }

    .buscador::placeholder {
        color: var(--grey-400);
        letter-spacing: normal;
        font-weight: normal;
    }

    .listado > div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #tDivResultados {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #tDivResultados > div {
        width: 90%;
        margin-bottom: 1.5rem;
    }

    #tDivResultados > div > div:first-child { 
        background-color: var(--green-800);
        border-radius: 1rem 1rem 0 0;
    }

    #tDivResultados > div > div:first-child > div {
        text-transform: uppercase;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        padding: 0.5rem 0;
    }

    #tDivResultados > div > div:last-child {
        display: table;
        width: 100%;
    }

    #tDivResultados > div > div:last-child > div {
        display: table-row;
    }

    #tDivResultados > div > div:last-child > div > div {
        display: table-cell;
    }

    #tDivResultados > div > div:last-child > div > div:first-child {
        background-color: var(--green-300);
        border-top: solid 1px var(--green-200);
        text-transform: uppercase;
        text-align: left;
        font-size: 1.2rem;
        padding: 0 0.2rem;
        width: 50%;
    }

    #tDivResultados > div > div:last-child > div > div:last-child {
        background-color: var(--green-50);
        border-top: solid 1px var(--green-300);
        text-align: justify;
        font-size: 0.9rem;
        padding: 0 0.2rem;
        width: 50%;
    }

    #tDivResultados > div > div:last-child > div:first-child > div:last-child,
    #tDivResultados > div > div:last-child > div:first-child > div:first-child { 
        border-top: none;
    }

    #tDivResultados > div > div:last-child > div:last-child { 
        display: table-row;
    }

    #tDivResultados > div > div:last-child > div:last-child > div { 
        padding: 1rem 0;
    }

    #tDivResultados > div > div:last-child > div:last-child > div:first-child { 
        background-color: var(--green-800);
        border: none;
        text-align: center;
        border-radius: 0 0 0 1rem;
    }

    #tDivResultados > div > div:last-child > div:last-child > div:last-child { 
        background-color: var(--green-800);
        border: none;
        text-align: center;
        border-radius: 0 0 1rem 0;
    }

    #tDivResultados > div > div:last-child > div:last-child > div:first-child > a,
    #tDivResultados > div > div:last-child > div:last-child > div > form > input[type=submit] { 
        text-decoration: none;
        font-weight: bolder;
        font-size: 0.8rem;
        border-radius: 0.5rem;
        border: none;
        padding: 0.5rem 1rem;
    }

    #tDivResultados > div > div:last-child > div:last-child > div:first-child > a { 
        color: var(--green-800);
        background-color: white;
    }

    #tDivResultados > div > div:last-child > div:last-child > div:last-child > form > input[type=submit] {
        color: white;
        background-color: black;
    }

    .formulario {
        font-family: varela, roboto, Arial, Helvetica, sans-serif;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }

    .formulario > label:first-child {
        display: none;

    }

    .formulario > label:nth-child(2) {
        font-size: 1.7rem;
        font-weight: bolder;
        width: 100%;
        color: var(--green-900);
        text-decoration: underline;
        text-align: left;
        margin-left: 3rem;
        padding: 1rem 0.2rem;
    }

    .formulario > form {
        padding: 0 0.5rem;
        width: 100%;
    }

    .formulario > form > div:first-child {
        background-color: transparent;
        padding: 1rem 1.2rem;
    }

    .formulario > form > div:first-child > div {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .formularioNuevoUsuario > form > div:first-child > div,
    .formularioNuevoCliente > form > div:first-child > div,
    .formularioModificarCliente > form > div:first-child > div {
        margin-bottom: 0.5rem;
    }

    .formulario > form > div:first-child > div:last-child {
        margin-bottom: 0;
    }

    .formulario > form > div:first-child > div > div {
        color: var(--green-600);
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: bolder;
    }

    .formulario > form > div:first-child > div > input:not([type=radio]):not([type=date]) {
        font-family: varela, roboto, Arial, Helvetica, sans-serif;
        background-color: transparent;
        border: none;
        border-bottom: solid 2px var(--green-600);
        font-size: 1rem;
        letter-spacing: 0.2rem;
        font-weight: bolder;
        width: 100%;
        padding: 0.5rem 1rem;
        color: var(--green-900);
    }


    .formulario.formularioNuevoCliente > form > div:first-child > div > input[type=date],
    .formulario.formularioModificarCliente > form > div:first-child > div > input[type=date] {
        font-family: varela, roboto, Arial, Helvetica, sans-serif;
        border: none;
        border-bottom: solid 2px var(--green-600);
        font-size: 1rem;
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: transparent;
    }

    .formulario.formularioNuevoProducto > form > div:first-child > div > textarea,
    .formulario.formularioModificarProducto > form > div:first-child > div > textarea,
    .formulario.formularioNuevoMedicamento > form > div:first-child > div > textarea,
    .formulario.formularioModificarMedicamento > form > div:first-child > div > textarea {
        font-family: varela, roboto, Arial, Helvetica, sans-serif;
        border: none;
        border-bottom: solid 2px var(--green-600);
        background-color: transparent;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        font-weight: bolder;
        width: 100%;
        padding: 0.5rem 1rem;
        resize: none;
        height: 5rem;
        color: var(--green-900);
    }

    .formulario > form > div:first-child > div > input:not([type=radio])::placeholder,
    .formulario.formularioNuevoProducto > form > div:first-child > div > textarea::placeholder,
    .formulario.formularioNuevoMedicamento > form > div:first-child > div > textarea::placeholder,
    .formulario.formularioModificarMedicamento > form > div:first-child > div > textarea::placeholder {
        color: var(--grey-400);
        letter-spacing: normal;
        font-weight: normal;
    }

    .formulario > form > div:first-child > div > input:not([type=radio]):focus,
    .formulario.formularioNuevoProducto > form > div:first-child > div > textarea:focus,
    .formulario.formularioModificarProducto > form > div:first-child > div > textarea:focus,
    .formulario.formularioNuevoMedicamento > form > div:first-child > div > textarea:focus,
    .formulario.formularioModificarMedicamento > form > div:first-child > div > textarea:focus {
        background-color: var(--green-50);
    }

    .formulario.formularioNuevoUsuario > form > div:first-child > div > div > div > input[type=radio],
    .formulario.formularioNuevoUsuario > form > div:first-child > div > div > div > input[type=radio] + label {
        cursor: pointer;
    }

    .formulario.formularioNuevoUsuario > form > div:first-child > div:nth-child(5) > div:last-child {
        width: 100%;
        padding-left: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    .formulario.formularioNuevoUsuario > form > div:first-child > div:nth-child(5) > div:last-child > div:first-child {
        margin-right: 2rem;
    }

    .formulario.formularioNuevoUsuario > form > div:first-child > div:nth-child(5) > div:last-child > div {
        padding: 0.5rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-basis: 18%;
    }

    .formulario.formularioNuevoMedicamento > form > div:first-child > div:nth-child(3) > div:last-child,
    .formulario.formularioModificarMedicamento > form > div:first-child > div:nth-child(3) > div:last-child {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .formulario.formularioNuevoMedicamento > form > div:first-child > div:nth-child(3) > div:last-child > div,
    .formulario.formularioModificarMedicamento > form > div:first-child > div:nth-child(3) > div:last-child > div {
        padding: 0.5rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .formulario.formularioModificarMedicamento > form > div:first-child > div > input[type=number]:disabled {
        background-color: var(--grey-300);
    }

    .formulario.formularioNuevoUsuario > form > div:first-child > div:nth-child(5) > div:last-child > div > label,
    .formulario.formularioNuevoMedicamento > form > div:first-child > div:nth-child(3) > div:last-child > div > label,
    .formulario.formularioModificarMedicamento > form > div:first-child > div:nth-child(3) > div:last-child > div > label {
        padding-left: 0.5rem;
        text-transform: capitalize;
        letter-spacing: 0.02rem;
        color: var(--green-900);
    }

    .formulario > form > div:last-child {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .formulario > form > div:last-child > input {
        border: none;
        background-color: var(--green-600);
        color: white;
        font-size: 1rem;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-weight: bolder;
        cursor: pointer;
    }

    input[type=date]::-webkit-clear-button {
        -webkit-appearance: none;
    }

    input[type=date]::-webkit-inner-spin-button { 
        -webkit-appearance: none;
    }

    input[type=date]::-webkit-calendar-picker-indicator {
        color: var(--green-600);
        background-color: var(--green-50);
        padding: 0.4rem;
    }

    input[type=date]::-webkit-calendar-picker-indicator:hover {
        color: white;
        background-color: var(--green-600);
        cursor: pointer;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
    }
    
    .contenedor-pagina_construccion {
        width: 70%;
        border-radius: 1rem;
        box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: white;
    }

    .contenedor-pagina_construccion > img {
        border-radius: 1rem;
        width: 95%;
        margin: 0;
    }
}