@media screen and (min-width: 993px) and (max-width: 1200px) {
    .contenedor-header {
        padding: 0.2rem 0;
        position: relative;
    }

    .formCruzVerde {
        margin-right: 1.5rem;
    }

    .cruz_verde {
        width: 4rem;
    }

    .titulo-farmaciarcas {
        font-size: 3rem;
        letter-spacing: 0.2rem;
    }

    .contenedor-triangulo-cambiar-clave {
        margin-left: 1rem;
        cursor: pointer;
        background-color: var(--green-600);
        border-radius: 0.2rem;
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor-triangulo-cambiar-clave > div {
        width: 0; 
        height: 0; 
        border-left: 0.5rem solid transparent;
        border-top: 0.75rem solid white;
        border-right: 0.5rem solid transparent; 
    }

    .contenedor-formulario-cambiar-clave {
        width: 100%;
        border-radius: 0 0 1rem 1rem;
        padding: 0.5rem;
        padding-top: 0;
        background-color: black;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 99;
    }

    .formularioCambiarClave {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .desplegable-cambiar-clave {
        cursor: pointer;
        font-size: 1.2rem;
        padding: 0.3rem 0;
        font-weight: bolder;
        background-color: chocolate;
    }

    .contenedor-formCambClave > form {
        margin-top: 0.5rem;
        background-color: var(--green-50);
        border-radius: 0 0 0.7rem 0.7rem;
        width: 100%;
    }

    .contenedor-formCambClave > form > div {
        display: flex;
        flex-direction: column;
        padding: 0.3rem;
    }

    .contenedor-formCambClave > form > div > label {
        text-align: left;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bolder;
        color: var(--green-900);
    }

    .contenedor-formCambClave > form > div > input[type=password] {
        border: solid 1px var(--green-900);
        width: 100%;
        color: var(--green-900);
        font-size: 0.8rem;
        padding: 0.1rem;
    }

    .contenedor-formCambClave > form > div > input[type=password]::placeholder {
        color: var(--grey-400);
        letter-spacing: normal;
        font-weight: normal;
    }

    .contenedor-formCambClave > form > div > input[type=submit] {
        border: none;
        background-color: var(--green-900);
        color: white;
        font-size: 1rem;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        font-weight: bolder;
        cursor: pointer;
    }

    .curvas {
        width: 8.2rem;
    }

    .contenedor-hojas {
        margin-left: -0.7rem;
    }

    .hojas {
        width: 5rem;
    }

    .contenedor-todo-cerrar-sesion {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 1.5rem;
        width: 40%;
    }

    .contenedor-todo-cerrar-sesion > div:first-child {
        position: relative;
        padding: 0 0.2rem;
        height: 100%;
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: solid 1px var(--green-900);
        border-right: solid 1px var(--green-900);
    }

    .titulo-nombre-usuario-sesion-header {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    .contenedor-todo-cerrar-sesion > div:last-child {
        border-right: solid 1px var(--green-900);
        height: 100%;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icono-usuario {
        width: 3rem;
        margin-right: 0.8rem;
    }

    .form-logout {
        flex-basis: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buttonCerrarSesion {
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5rem;
    }

    .buttonCerrarSesion > img {
        margin-right: 0.5rem;
        width: 2rem;
    }

    .logout-blanco {
        display: block;
    }

    .logout-verde {
        display: none;
    }

    .buttonCerrarSesion > span {
        font-size: 1rem;
        letter-spacing: 0.05rem;
    }

    nav {
        flex-basis: 20%;
        background-color: var(--green-100);
        position: relative;
    }

    .gestionar-clientes, 
    .gestionar-productos, 
    .gestionar-medicamentos, 
    .gestionar-pedidos {
        font-size: 0.8rem;
    }

    .boton-hamburguesa {
        display: none;
    }

    .contenedor-todo-control-acceso {
        width: 70%;
    }

    .formulario-control-acceso {
        font-size: 1rem;
    }

    .formularioOlvidoClave > form > div:first-child,
    .formulario-control-acceso > div:first-child > div:first-child {
        padding: 1rem 2rem;
    }

    .formulario-control-acceso > div:first-child > div:first-child > h1 {
        letter-spacing: 0.1rem;
        font-size: 2.2rem;
    }

    .formulario-control-acceso > div:first-child > div {
        padding: 0.5rem 1rem;
    }

    .formulario-control-acceso > div:first-child > div > label {
        font-size: 1.5rem;
    }

    .formulario-control-acceso > div:first-child > div > div {
        margin-top: 0.5rem;
    }

    .formulario-control-acceso > div:first-child > div:not(:first-child) > div > div {
        padding: 0.5rem;
    }

    .formulario-control-acceso > div:first-child > div:not(:first-child) > div > div > img {
        width: 1.5rem;
    }

    .formulario-control-acceso > div:first-child > div > div > input {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        padding-left: 1rem;
        font-weight: bolder;
    }

    .formulario-control-acceso > div:first-child > div > div > input::placeholder {
        font-size: 1.2rem;
        letter-spacing: normal;
        font-weight: normal;
    }

    .contenedor-clave-olvidada {
        padding: 1rem;
    }

    .contenedor-clave-olvidada > div > a{
        font-size: 1.2rem;
    }

    .formulario-control-acceso > div:last-child {
        margin: 0 1rem 1rem 0;    
    }

    .formularioOlvidoClave > form > div:last-child > input,
    .formulario-control-acceso > div:last-child > input {
        width: auto;
        font-size: 1.2rem;
        padding: 1rem 2.5rem;
    }

    .formularioOlvidoClave > form > div:last-child > input {
        padding: 0.75rem 1.5rem;
    }

    .form-boton-nuevo-usuario {
        padding: 1rem 2rem;
    }

    .form-boton-nuevo-usuario > input {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    .contenedor-errores-login {
        margin-top: 0.5rem;
    }

    .error {
        font-size: 1.2rem;
    }

    footer {
        padding: 0.5rem 0;
    }

    .listado {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        flex-basis: 1px;
        flex-shrink: 1;
        flex-grow: 1;
    }

    .listado.productos {
        width: 90%;
    }

    .contenedor-listado-pedidos,
    .contenedor-graficas-pedidos,
    .contenedor-nuevo-pedido {
        width: 100%;
        margin-bottom: 2rem;
    }

    .contenedor-listado-pedidos > div, 
    .contenedor-graficas-pedidos > div,
    .contenedor-nuevo-pedido > div {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .envoltura-titulo-listado {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 3rem 0 0 0;
    }

    .envoltura-titulo-listado > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .titulo-listado {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        text-decoration: underline;
        color: var(--green-800);
        margin-bottom: -0.3rem;
    }

    .envoltura-titulo-listado > div:last-child {
        flex-basis: 45%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .envoltura-titulo-listado > div:last-child > div:first-child {
        display: flex;
        align-items: flex-end;
        margin-left: 1rem;
        order: 2;
    }

    .generarPDF.xxl {
        flex-basis: 100%;
        color: black;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-decoration: none;
        cursor: pointer;
    }

    .generarPDF.xxl > img {
        margin-right: 0.5rem;
        width: 3rem;
    }

    .envoltura-titulo-listado > div:last-child > div:last-child {
        order: 1;
        display: flex;
        align-items: flex-end;
        width: 100%;
    }

    .buscador {
        border: solid 4px var(--green-600);
        font-weight: bolder;
        border-radius: 1.5rem;
        width: 100%;
        padding: 0.1rem 0.1rem 0.1rem 1rem;
        color: var(--green-900);
        text-align: left;
        font-size: 1rem;
    }

    .buscador::placeholder {
        color: var(--grey-400);
        letter-spacing: normal;
        font-weight: normal;
    }

    .formulario {
        font-family: varela, roboto, Arial, Helvetica, sans-serif;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formulario > label:first-child {
        font-size: 2rem;
        font-weight: bolder;
        width: 100%;
        letter-spacing: 0.1rem;
        color: var(--green-900);
        text-decoration: underline;
        text-align: left;
        padding: 1rem 0;
    }

    .formulario > label:nth-child(2) {
        display: none;
    }

    .formulario > form {
        width: 100%;
    }

    .formulario > form > div:first-child {
        background-color: transparent;
        padding: 1rem 0;
    }

    .formulario > form > div:first-child > div {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .formularioNuevoUsuario > form > div:first-child > div,
    .formularioNuevoCliente > form > div:first-child > div,
    .formularioModificarCliente > form > div:first-child > div {
        margin-bottom: 0.5rem;
    }

    .formulario > form > div:first-child > div:last-child {
        margin-bottom: 0;
    }

    .formulario > form > div:first-child > div > div {
        color: var(--green-600);
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: bolder;
    }

    .formulario > form > div:first-child > div > input:not([type=radio]):not([type=date]) {
        font-family: varela, roboto, Arial, Helvetica, sans-serif;
        background-color: transparent;
        border: none;
        border-bottom: solid 2px var(--green-600);
        font-size: 1rem;
        letter-spacing: 0.2rem;
        font-weight: bolder;
        width: 100%;
        padding: 0.5rem 1rem;
        color: var(--green-900);
    }

    .formulario.formularioNuevoCliente > form > div:first-child > div > input[type=date],
    .formulario.formularioModificarCliente > form > div:first-child > div > input[type=date] {
        font-family: varela, roboto, Arial, Helvetica, sans-serif;
        border: none;
        border-bottom: solid 2px var(--green-600);
        font-size: 1rem;
        width: 100%;
        padding: 0.5rem 1rem;
        background-color: transparent;
    }

    .formulario.formularioNuevoProducto > form > div:first-child > div > textarea,
    .formulario.formularioModificarProducto > form > div:first-child > div > textarea,
    .formulario.formularioNuevoMedicamento > form > div:first-child > div > textarea,
    .formulario.formularioModificarMedicamento > form > div:first-child > div > textarea {
        font-family: varela, roboto, Arial, Helvetica, sans-serif;
        border: none;
        border-bottom: solid 2px var(--green-600);
        background-color: transparent;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        font-weight: bolder;
        width: 100%;
        padding: 0.5rem 1rem;
        resize: none;
        height: 5rem;
        color: var(--green-900);
    }

    .formulario > form > div:first-child > div > input:not([type=radio])::placeholder,
    .formulario.formularioNuevoProducto > form > div:first-child > div > textarea::placeholder,
    .formulario.formularioNuevoMedicamento > form > div:first-child > div > textarea::placeholder,
    .formulario.formularioModificarMedicamento > form > div:first-child > div > textarea::placeholder {
        color: var(--grey-400);
        letter-spacing: normal;
        font-weight: normal;
    }

    .formulario > form > div:first-child > div > input:not([type=radio]):focus,
    .formulario.formularioNuevoProducto > form > div:first-child > div > textarea:focus,
    .formulario.formularioModificarProducto > form > div:first-child > div > textarea:focus,
    .formulario.formularioNuevoMedicamento > form > div:first-child > div > textarea:focus,
    .formulario.formularioModificarMedicamento > form > div:first-child > div > textarea:focus {
        background-color: var(--green-50);
    }

    .formulario.formularioNuevoUsuario > form > div:first-child > div > div > div > input[type=radio],
    .formulario.formularioNuevoUsuario > form > div:first-child > div > div > div > input[type=radio] + label {
        cursor: pointer;
    }

    .formulario.formularioNuevoUsuario > form > div:first-child > div:nth-child(5) > div:last-child {
        width: 100%;
        padding-left: 1rem;
        display: flex;
        justify-content: flex-start;
    }

    .formulario.formularioNuevoUsuario > form > div:first-child > div:nth-child(5) > div:last-child > div:first-child {
        margin-right: 2rem;
    }

    .formulario.formularioNuevoUsuario > form > div:first-child > div:nth-child(5) > div:last-child > div {
        padding: 0.5rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-basis: 18%;
    }

    .formulario.formularioNuevoMedicamento > form > div:first-child > div:nth-child(3) > div:last-child,
    .formulario.formularioModificarMedicamento > form > div:first-child > div:nth-child(3) > div:last-child {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .formulario.formularioNuevoMedicamento > form > div:first-child > div:nth-child(3) > div:last-child > div,
    .formulario.formularioModificarMedicamento > form > div:first-child > div:nth-child(3) > div:last-child > div {
        padding: 0.5rem 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .formulario.formularioModificarMedicamento > form > div:first-child > div > input[type=number]:disabled {
        background-color: var(--grey-300);
    }

    .formulario.formularioNuevoUsuario > form > div:first-child > div:nth-child(5) > div:last-child > div > label,
    .formulario.formularioNuevoMedicamento > form > div:first-child > div:nth-child(3) > div:last-child > div > label,
    .formulario.formularioModificarMedicamento > form > div:first-child > div:nth-child(3) > div:last-child > div > label {
        padding-left: 0.5rem;
        text-transform: capitalize;
        letter-spacing: 0.02rem;
        color: var(--green-900);
    }

    .formulario > form > div:last-child {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .formulario > form > div:last-child > input {
        border: none;
        background-color: var(--green-600);
        color: white;
        font-size: 1rem;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-weight: bolder;
        cursor: pointer;
    }

    input[type=date]::-webkit-clear-button {
        -webkit-appearance: none;
    }

    input[type=date]::-webkit-inner-spin-button { 
        -webkit-appearance: none;
    }

    input[type=date]::-webkit-calendar-picker-indicator {
        color: var(--green-600);
        background-color: var(--green-50);
        padding: 0.4rem;
    }

    input[type=date]::-webkit-calendar-picker-indicator:hover {
        color: white;
        background-color: var(--green-600);
        cursor: pointer;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none;
    }
    
    .listado > div:last-child {
        margin-top: 2rem;
        width: 100%;
    }

    #tDivResultados {
        display: table;
        width: 100%;
    }

    #tDivResultados > div {
        display: table-row;
    }

    #tDivResultados > div:first-child > div { 
        border-bottom: solid 3px var(--green-600);
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 1rem;
        padding: 0 0.2rem;
    }

    #tDivResultados > div:first-child > div:first-child,
    #tDivResultados > div:first-child > div:nth-child(4),
    #tDivResultados > div:first-child > div:nth-child(6),
    #tDivResultados > div:first-child > div:nth-last-child(3),
    #tDivResultados > div:first-child > div:nth-last-child(2),
    #tDivResultados > div:first-child > div:last-child { 
        text-align: center;
    }

    #tDivResultados > div > div,
    #tDivResultados > div > form { 
        display: table-cell;
        vertical-align: middle;
        border-top: solid 3px var(--grey-300);
        padding: 0.5rem 0.1rem;
        text-align: left;
        font-size: 0.7rem;
    }

    #tDivResultados > div:first-child > div,
    #tDivResultados > div:nth-child(2) > div,
    #tDivResultados > div:nth-child(2) > form { 
        border-top: none;
    }    

    #tDivResultados > div > div:nth-child(3) {
        text-align: justify;
    }

    #tDivResultados > div > div:first-child {
        border-right: solid 3px var(--green-600);
        text-align: center;
    }

    #tDivResultados > div > div:first-child,
    #tDivResultados > div > div:nth-child(4),
    #tDivResultados > div > div:nth-child(5),
    #tDivResultados > div > div:nth-child(6),
    #tDivResultados > div > div:nth-last-child(3),
    #tDivResultados > div > div:nth-last-child(2),
    #tDivResultados > div > div:last-child {
        text-align: center;
    }

    #tDivResultados > div > form:nth-last-child(2) > button,
    #tDivResultados > div > form:last-child > button {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    #tDivResultados > div > form:nth-last-child(2) > button > img,
    #tDivResultados > div > form:last-child > button > img {
        width: 2rem;
    }

    #tDivResultados > div > div:nth-last-child(2) > a,
    #tDivResultados > div > div:last-child > form > input[type=submit]  {
        color: white;
        background-color: var(--green-600);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: none;
        text-decoration: none;
        font-weight: bolder;
    }

    #tDivResultados > div > div:nth-last-child(2) > a{
        background-color: var(--green-600);
        cursor: pointer;
    }

    #tDivResultados > div > div:last-child > form > input[type=submit] {
        background-color: black;
        cursor: pointer;
    }

    #tDivResultados > div > div:nth-last-child(2) > a:hover,
    #tDivResultados > div > div:last-child > form > input[type=submit]:hover {
        text-decoration: underline;
    }

    #tDivResultados > div > div:nth-last-child(2) > a:active,
    #tDivResultados > div > div:last-child > form > input[type=submit]:active {
        text-decoration: underline;
        background-color: var(--green-900);
    }

    #tDivResultados > div > div:last-child > form > input[type=submit]:active {
        background-color: var(--grey-400);
        color: black;
    }

    .contenedor-pagina_construccion {
        width: 60%;
        border-radius: 1rem;
        box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: white;
    }

    .contenedor-pagina_construccion > img {
        border-radius: 1rem;
        width: 95%;
        margin: 0;
    }
}