body {
    font-size: 16px;
    font-family: varela, roboto, Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
}

.envoltura-logo {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 5rem;
    height: auto;
}

.titulo-farmaciarcas {
    font-size: 3rem;
    font-family: varela, roboto, Arial, Helvetica, sans-serif;
    color: black;
}

.farmaci {
    position: absolute;
    font-size: 3rem;
    left: 15%;
    top: 7%
}

.arcas {
    font-size: 3rem;
    color: #43A047; /* green-600 */
    position: absolute;
    left: 35.5%;
    top: 7%;
}

.titulo-parrafo {
    color: #9E9E9E;  /* grey-500 */
    font-size: 1.2rem;
    position: absolute;
    right: 5%;
    top: 18%;
}

.fecha {
    font-size: 1.4rem;
    font-weight: bold;
    color: #43A047;  /* green-600 */
}

.contenedor-tabla {
    position: absolute;
    top: 24%;
    left: 5%;
    right: 5%;
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
}

.table-productos {
    width: 60%;
}

th {
    border-bottom: solid 3px #43A047; /* green-600 */
    border-collapse: collapse;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem 0.2rem;
    vertical-align: bottom;
}

td {
    border-top: solid 2px #E0E0E0; /* grey-300 */
    border-collapse: collapse;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem 0.2rem;
}

th:nth-child(1),
td:nth-child(1) {
    border-right: solid 3px #43A047; /* green-600 */
}

th:nth-child(2),
th:nth-child(3),
td:nth-child(2),
td:nth-child(3) {
    text-align: left;
}

.celda-fecha {
    width: fit-content;
}

.pdf-footer {
    color: #424242; /* grey-800 */
    text-align: right;
    width: 100%;
}